  <h1 class="section heading"><%= @itinerary.name %></h1>
  <p class="section description">Make it a night to remember</p>

      <% @events.reverse.each do |e| %>
  <div class="section categories">
    <div class="container">
      <div class="row">
        <div class="one-half column category">
      <%= image_tag src="#{e.image_url}"%>
        </div>
        <div class="one-half column category">
      <h5><%= e.name %></h5>
      <p><%= e.address %></p>
      <%= link_to "Delete", event_path(e), method: :delete, data: { confirm: 'Are you certain?' } %>
        </div>
      </div>
    </div>
  </div>
      <% end %>

  <h1 class="section heading">Last minute adds</h1>

<div class="container">
    <div class="row">
        <div class="four columns category">
          <div class="event_text">
            <%=image_tag "#{@loc_one_img}"%>
            <div class="centered">
            <p><%=@loc_one%></p>
            <p>Address: <%=@address_one%></p>
            <p>Price:<%=@loc_one_price%></p>
            <%= form_for( :event, :html => { :role => "form" }, url: events_path ) do |f| %>
              <%= f.hidden_field :name, value: @loc_one %>
              <%= f.hidden_field :address, value: @address_one %>
              <%= f.hidden_field :image_url, value: @loc_one_img %>
              <%= f.hidden_field :itinerary_id, value: @itinerary.id %>
              <%= f.submit "Add" %>
            <% end %>
            </div>
          </div>
        </div>


        <div class="four columns category">
          <div class="event_text">
            <%=image_tag "#{@loc_two_img}"%>
            <div class="centered">

            <p><%=@loc_two%></p>
            <p>Address: <%=@address_two%></p>
            <p>Price:<%=@loc_two_price%></p>
            <%= form_for( :event, :html => { :role => "form" }, url: events_path ) do |f| %>
              <%= f.hidden_field :name, value: @loc_two %>
              <%= f.hidden_field :address, value: @address_two %>
              <%= f.hidden_field :image_url, value: @loc_two_img %>
              <%= f.hidden_field :itinerary_id, value: @itinerary.id %>
              <%= f.submit "Add" %>
            <% end %>

            </div>
          </div>
        </div>

        <div class="four columns category">
          <div class="event_text">
            <%=image_tag "#{@event_img}"%>
            <div class="centered">
            <p><%= @event_name %></p>
            <p><%= @event_desc %></p>
            <p><%= @event_start %></p>
            <p><%= @event_end %></p>
            <%= form_for( :event, :html => { :role => "form" }, url: events_path ) do |f| %>
              <%= f.hidden_field :name, value: @event_name %>
              <%= f.hidden_field :image_url, value: @event_img %>
              <%= f.hidden_field :itinerary_id, value: @itinerary.id %>
              <%= f.submit "Add"%>
            <% end %>
          </div>
        </div>
      </div>