<div class="container">
      <h1 class="section heading">Plan my Nite</h1>
      <p class="section description">Sit back and let us "sort" your night out for you.</p>
      <div class="row">
        <div class="four columns category">
          <div class="event_text">
            <%=image_tag "#{@loc_one_img}", {:style => "width: 100%; height: 40vh;  border: 4px inset rgba(222, 222, 222, 0.5);"}%>
            <div class="centered">
            <p><%=@loc_one%></p>
            <p>Address: <%=@address_one%></p>
            <%= form_for( :event, :html => { :role => "form" }, url: events_path ) do |f| %>
              <%= f.hidden_field :name, value: @loc_one %>
              <%= f.hidden_field :address, value: @address_one %>
              <%= f.hidden_field :image_url, value: @loc_one_img %>

              <%= f.submit "Add" %>
            <% end %>
            </div>
          </div>
        </div>
        <div class="four columns category">
          <div class="event_text">
            <%=image_tag "#{@loc_two_img}", {:style => "width: 100%; height: 40vh; border: 4px inset rgba(222, 222, 222, 0.5);"}%>
            <div class="centered">
            <p><%=@loc_two%></p>
            <p>Address: <%=@address_two%></p>
            <%= form_for( :event, :html => { :role => "form" }, url: events_path ) do |f| %>
              <%= f.hidden_field :name, value: @loc_one %>
              <%= f.hidden_field :address, value: @address_one %>
              <%= f.hidden_field :image_url, value: @loc_one_img %>

              <%= f.submit "Add" %>
            <% end %>
            </div>
          </div>
        </div>
        <div class="four columns category">
          <div class="event_text">
          <h2> EVENTBRITE </h2>
            <% randevent = @req['events'].sample  %>
            <p>Event: <%= randevent['name']['text'] %></p>
            <p>Description: <%= randevent['description']['text'].byteslice(0..250) %></p>
            <p>Time: <%= randevent['start']['local'] %>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <input class="button-primary" type="submit" value="Temp button">
    </div>

<%= form_for( :itinerary, :html => { :role => "form" }, url: itineraries_path ) do |f| %>
  <%= f.text_field :name, placeholder: "Name Here" %>
  <%= f.submit "Create" %>
<% end %>

<br>
<hr>
<br>

    <%= javascript_pack_tag 'hello_react' %>



