<h1>Plan my Nite</h1>

<p><%=@loc_one%></p>
<p>Address: <%=@address_one%></p>

<%=image_tag "#{@loc_one_img}", {:style => "width: 500px;"}%>
<p><%=@loc_two%></p>
<p>Address: <%=@address_two%></p>
<%=image_tag "#{@loc_two_img}", {:style => "width: 500px;"}%>

<p><%=@data.first[1].count%></p>

<!-- EVENTBRITE -->
<h2> EVENTBRITE </h2>
<% randevent = @req['events'].sample  %>
<p>Event: <%= randevent['name']['text'] %></p>
<p>Description: <%= randevent['description']['text'].byteslice(0..200) %></p>
<p>Time: <%= randevent['start']['local'] %>


<%= javascript_pack_tag 'hello_react' %>