


  <h1 class="section heading">Plan my Nite</h1>
  <p class="section description">Sit back and let us "sort" your night out for you.</p>

<div class="section">
    <%= form_for( :itinerary, :html => { :role => "form" }, url: itineraries_path ) do |itinerary| %>

  <div class="container">
        <div class="row">
          <div class="four columns category">
            <div class="event_text">
              <%=image_tag "#{@loc_one_img}"%>
              <a class="infotag"> 
              <div class="centered info">
              <h6 class="h6bkgrd"><%=@loc_one%></h6>
              <p class="pbkgrd">Address: <%=@address_one%>
              Price:<%=@loc_one_price%>
              Distance:<%=@loc_one_distance%>
            Distance: <%=@loc_one_distance%> miles</p>

              <% itinerary.fields_for :events do |f| %>
                <%= f.hidden_field :name, value: @loc_one %>
                <%= f.hidden_field :address, value: @address_one %>
                <%= f.hidden_field :image_url, value: @loc_one_img %>
              <% end %>

              </div>
              </a>
            </div>
          </div>


          <div class="four columns category">
            <div class="event_text">
              <%=image_tag "#{@loc_two_img}"%>
              <a class="infotag"> 
              <div class="centered info">
            <h6 class="h6bkgrd"><%=@loc_two%></h6>
            <p class="pbkgrd">Address: <%=@address_two%>
            Price: <%=@loc_two_price%>
            Distance: <%=@loc_two_distance%> miles</p>


              <%= itinerary.fields_for :events do |f| %>
                <%= f.hidden_field :name, value: @loc_two %>
                <%= f.hidden_field :address, value: @address_two %>
                <%= f.hidden_field :image_url, value: @loc_two_img %>
              
              <% end %>

              </div>
            </a>
            </div>
          </div>


          <div class="four columns category">
            <div class="event_text">
              <%=image_tag "#{@event_img}"%>
              <a href="<%= @event_url %>" target="_blank">more</a>
              <a class="infotag"> 
              <div class="centered info">
              <h6 class="h6bkgrd">Event: <%= @event_name %></h6>
              <p class="pbkgrd">Description: <%= @event_desc %>
              Time Start: <%= @event_start %> 
              Time End: <%= @event_end %> 
              Price is Free?: <%= @event_free %></p>
                <%= itinerary.fields_for :events do |f| %>
                  <%= f.hidden_field :name, value: @event_name %>
                  <%= f.hidden_field :image_url, value: @event_img %>
                  
              <% end %>

            </div>
            </a>
          </div>
    </div>
  </div>

    
      <%= itinerary.text_field :name, value: "", placeholder: 'Itinerary Name' %>
      <br>
      <%= itinerary.submit "Create", class: "button-primary" %> 
    <% end %>
    </div>
