


  <h1 class="section heading">Plan my Nite</h1>
  <p class="section description">Sit back and let us "sort" your night out for you.</p>

<div class="section">
    <%= form_for( @itinerary ) do |i| %>

  <div class="container">
        <div class="row">
          <div class="four columns category">
            <div class="event_text">
              <%=image_tag "#{@loc_one_img}"%>
              <div class="centered">
              <p><%=@loc_one%></p>
              <p>Address: <%=@address_one%></p>
              <p>Price:<%=@loc_one_price%></p>

              <p>Distance:<%=@loc_one_distance%></p>


            <p>Distance: <%=@loc_one_distance%> miles</p>



              <%= i.fields_for :events  do |f| %>
                <%= f.hidden_field :name, value: @loc_one %>
                <%= f.hidden_field :address, value: @address_one %>
                <%= f.hidden_field :image_url, value: @loc_one_img %>
                
              <% end %>
            
              </div>
            </div>
          </div>


          <div class="four columns category">
            <div class="event_text">
              <%=image_tag "#{@loc_two_img}"%>
              <div class="centered">


            <p><%=@loc_two%></p>
            <p>Address: <%=@address_two%></p>
            <p>Price: <%=@loc_two_price%></p>
            <p>Distance: <%=@loc_two_distance%> miles</p>


              <%= i.fields_for :events do |f| %>
                <%= f.hidden_field :name, value: @loc_two %>
                <%= f.hidden_field :address, value: @address_two %>
                <%= f.hidden_field :image_url, value: @loc_two_img %>
              
              <% end %>

              </div>
            </div>
          </div>


          <div class="four columns category">
            <div class="event_text">



              <%=image_tag "#{@event_img}"%>
              <div class="centered">
              <p>Event: <%= @event_name %></p>
              <p>Description: <%= @event_desc %>
              &nbsp;...<a href="<%= @event_url %>">more</a></p>
              <p>Time Start: <%= @event_start %> </p>
              <p>Time End: <%= @event_end %> </p>
              <p>Price is Free?: <%= @event_free %></p>
                <%= i.fields_for :events do |f| %>
                  <%= f.hidden_field :name, value: @event_name %>
                  <%= f.hidden_field :image_url, value: @event_img %>
                  
              <% end %>

            </div>
          </div>


    </div>
  </div>

    
      <%= i.text_field :name, value: "", placeholder: 'Itinerary Name' %>
      <br>
      <%= i.submit "Create", class: "button-primary" %> 
    <% end %>
    </div>
