<div class="container">
  <div class="row">
    <div class="one-half column category">
      <div class="concierge" style="width: 90%; height: 370px;  border: 1px solid rgba(222, 222, 222, 0.5);">
        <h3>
          HIRE A PERSONAL PLANNER!
        </h3>
        <img src="/croupier.png">
        <p>Have a bachelor party weekend coming up? Need help planning the perfect date? Want to check out a new city? Let us do it for you! We have local experts around the world who can create a perfect itinerary for you.</p>

      </div>
    </div>
    <div class="one-half column category">
      <div class="concierge" style="width: 90%; height: 370px;  border: 1px solid rgba(222, 222, 222, 0.5);">
        <div class='buy-option'>
          <h3> THE DAY PLANNER </h3>
          <h6>$59.99 for one day's perfectly curated itinerary!</h6>
          <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <span>
                $59.99&nbsp;&nbsp;</span>
            </label>
          </article>
          <%= hidden_field_tag(:dollars, 5999) %>
          <%= submit_tag "PURCHASE"%>
          <div class="no-display">
          <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="PERSONALIZED CONCIERGE"
            data-name="HAPPILY MEDIUMLY!"
            data-amount="5999"
            data-locale="auto"
            data-image="/croupier.png"
            data-zip-code="true"></script>
          </div>
        <% end %>
      </div>

      <div class='buy-option'>
        <h3>THE WEEKEND BLAST</h3>
        <h6>$99.99 for one a full weekend of activities!</h6>
        <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span>
              $99.99&nbsp;&nbsp;</span>
          </label>
        </article>
        <%= hidden_field_tag(:dollars, 9999) %>
        <%= submit_tag "PURCHASE"%>
        <div class="no-display">
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="PERSONALIZED CONCIERGE"
          data-name="HAPPILY MEDIUMLY!"
          data-amount="9999"
          data-locale="auto"
          data-image="/croupier.png"
          data-zip-code="true"></script>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
</div>
