<!DOCTYPE html>
<html>
  <head>
    <title>Startup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- React -->
    <!-- <%= javascript_pack_tag 'index' %>
    <%= stylesheet_pack_tag 'index'%> -->




    <!-- THIS SCRIPT CHANGES YOUR GEOLOCATION INTO A CITY NAME -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBRMuPVbAo3aTx8JfUFUlwDNqTHQdkdw3I"></script>
    <script type="text/javascript">
      var geocoder;
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
      }
      //Get the latitude and the longitude;
      function successFunction(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        codeLatLng(lat, lng)
      }
      function errorFunction() {
        console.log("Geocoder failed")
      }
      function initialize() {
        geocoder = new google.maps.Geocoder();
      }
      function codeLatLng(lat, lng) {

        var latlng = new google.maps.LatLng(lat, lng);
        geocoder.geocode({
          'latLng': latlng
        }, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            console.log(results)
            if (results[1]) {
              //formatted address
              console.log(results[0].formatted_address)
              //find country name
              for (var i = 0; i < results[0].address_components.length; i++) {
                for (var b = 0; b < results[0].address_components[i].types.length; b++) {

//there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
  if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
  //this is the object you are looking for
    city = results[0].address_components[i];
    break;
    }
  }
}
  //city data
  console.log(city.short_name + " " + city.long_name);
  document.getElementById('placenow').value = city.long_name;

            } else {
              console.log("No results found");
            }
          } else {
            console.log("Geocoder failed due to: " + status);
          }
        });
      }
    </script>

  </head>



  <body onload="initialize()">

          <div class="fullscreen-bg">
          <video loop="loop" muted="muted" autoplay="autoplay" poster="img/videoframe.jpg" class="fullscreen-bg__video">
            <source src="/sky.mp4" type="video/mp4">
          </video>
          </div>

          <div class="city"></div>


          <ul>


    <% if logged_in? %>
    <li><%= link_to "Log Out", logout_path %></li>
    <li><a href="<%= user_path(current_user.id) %>"><i class="fas fa-user-circle"></i>&nbsp<%= current_user.first_name %></a>
    <% else %>
  <li class="dropdown">
    <a class="active">Account</a>
      <div class="dropdown-content">
          <a onclick="document.getElementById('login').style.display='block'">Log in</a>
          <a onclick="document.getElementById('signin').style.display='block'">Sign Up</a>
      </div>
  </li>
    <% end %>
  <li><a href="<%= root_path %> ">Plan My Nite</a></li>
  <li><a href="/charges/new">Concierge</a></li>
  <li><a href="/meetup">Meetup</a></li>
  <li style="float:right; cursor:pointer"><a onclick="document.getElementById('advancesearch').style.display='block'">Advance Search</a></li>
  <li style="float:right">
    <%= form_tag(root_path, method: :get) do %>
    <div class="searchbar">
      <div class="searchicon">
        <i class="fas fa-search-location "></i>
      </div>
      <div>
        <%= text_field_tag :search, nil, placeholder: 'Keyword'%>
      </div>
    </div>

    <% end %>
    </ul>




        <%= yield %>


        <div id="login" class="modal">
            <%= form_for( :session, :html => { class: 'modal-content animate' }, url: login_path ) do |f| %>
                <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
              <div class="container">
                  <h5 class="section">Welcome Back</h5>
                  <hr>
                  <label for="username"><b>Username</b></label>
                  <%= f.text_field :username, autofocus: true, placeholder: 'Username', class: 'fillmodal', required: true %>

                  <label for="password"><b>Password</b></label>
                  <%= f.password_field :password, placeholder: 'Enter Password', class: 'fillmodal', required: true %>
                  <div class="clearfix section">
                      <button type="submit">Login</button>
                      <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
                      <p class="psw">Forgot <a href="#">password?</a></p>
                  </div>
              </div>
            <% end %>
        </div>
      </div>


        <div id="signin" class="modal">
            <span onclick="document.getElementById('signin').style.display='none'" class="close" title="Close Modal">&times;</span>
            <%= form_for(:user, :html => { class: 'modal-content' }, url: users_path ) do |f| %>
                <div class="container">

                    <h5 class="section">Sign Up</h5>
                    <hr>
                    <label for="first_name"><b>First Name</b></label>
                    <%= f.text_field :first_name, placeholder: 'First Name', class: 'fillmodal', required: true%>

                    <label for="last_name"><b>Last Name</b></label>
                    <%= f.text_field :last_name, placeholder: 'Last Name', class: 'fillmodal', required: true %>

                    <label for="username"><b>Username</b></label>
                    <%= f.text_field :username, placeholder: 'Username', class: 'fillmodal', required: true %>
                    <label for="email"><b>Email</b></label>
                    <%= f.email_field :email, placeholder: 'Enter Email', class: 'fillmodal', required: true %>

                    <label for="password"><b>Password</b></label>
                    <%= f.password_field :password, placeholder: 'Enter Password', class: 'fillmodal', required: true %>
                    <label for="password_confirmation"><b>Repeat Password</b></label>
                    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'fillmodal', required: true %>

                    <div class="clearfix section">
                      <button type="button" onclick="document.getElementById('signin').style.display='none'" class="cancelbtn">Cancel</button>
                      <button type="submit" class="signupbtn">Sign Up</button>
                    </div>
                </div>
            <% end %>
        </div>
      </div>
    </div>

<div id="advancesearch" class="modal">
  <span onclick="document.getElementById('advancesearch').style.display='none'" class="close" title="Close Modal">&times;</span>
  <%= form_tag(root_path, method: :get, class: 'modal-content' ) do %>


    <div class="section container">
      <div class="row">
        <div class="pretty p-default">
            <%= check_box_tag('cost1', "1", {multiple: true})%>
            <div class="state p-warning">
                <%= label_tag(:cost, "$") %>
            </div>
        </div>

        <div class="pretty p-default">
            <%= check_box_tag('cost2', "2", {multiple: true})%>
            <div class="state p-warning">
                <%= label_tag(:cost, "$$") %>
            </div>
        </div>

    <%= select_tag(:day, options_for_select([['Today',0],['Tomorrow', 8],[ @day3,16],[@day4,24],[@day5,32]]))%>
    <%= label_tag(:location, "Please enter a city") %>
    <%= text_field_tag :location, request.location.city%>


        <div class="pretty p-default">
            <%= check_box_tag('cost3', "3", {multiple: true})%>
            <div class="state p-warning">
                <%= label_tag(:cost, "$$$") %>
            </div>
        </div>
      </div>

<br>
<br>

      <div class="row">
        <div class="pretty p-default">
            <%= check_box_tag('filter1', "hot_and_new", {multiple: true})%>
            <div class="state p-warning">
                <%= label_tag(:filter, "Hot and new Places") %>
            </div>
        </div>

        <div class="pretty p-default">
            <%= check_box_tag('filter2', "reservations", {multiple:true})%>
            <div class="state p-warning">
                <%= label_tag(:filter, "Reservations") %>
            </div>
        </div>

<br>
<br>
<br>

      <div class="row">
      <div class="">
        <%= label_tag(:miles_away, "Distance from current location") %>
        <div class="">
        <%= select_tag(:miles_away, options_for_select([[25,25],[10,10],[5,5]])) %>
        </div>
    </div>
        
        


    
    </div>
      <div class="clearfix section">
        <%= submit_tag 'filter'%>
        <button type="button" onclick="document.getElementById('advancesearch').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    <% end %>
    </div>
  </form>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit-icons.min.js"></script>
  </body>
</html>
